<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="pragma" content="no-cache">
<title>Insert title here</title>
</head>
<body>

	<div class="row text-center">

		<div class="col-lg-8">
			<label><h3>Statistics per Order book</h3></label>
		</div>

		<div class="col-lg-4">
			<select class="form-control" id="orderBookId"
				ng-model="selectedOrderBook">
				<option value="">Please select an order book ....</option>
				<option ng-repeat="orderBook in orderBooks"
					value="{{orderBook.orderBookId}}">{{orderBook.orderBookName}}</option>
			</select>
		</div>

		<div class="col-lg-4">
			<button type="button" class="btn btn-primary btn-block"
				id="orderBookStatId"
				ng-click="displayOrderBookStat(selectedOrderBook)">{{buttonTitle}}
			</button>
		</div>
		<br /> <br /><br /> <br />
		<div ng-show="display" class="col-lg-8">
			<label><h3>Statistics before execution of the order book</h3></label>
			<table id="statisticBeforeExecutionId" class="table table-striped">
				<thead>
					<tr>
						<th>Amount of Orders</th>
						<th>Demand</th>
						<th>Biggest Order</th>
						<th>Smallest Order</th>
						<th>Earliest Order Entry</th>
						<th>Last Order Entry</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>{{statisticPerBook.totOrdAmtPerBook}}</td>
						<td>{{statisticPerBook.totDemandPerBook}}</td>
						<td>{{statisticPerBook.maxOrdPerBook}}</td>
						<td>{{statisticPerBook.minOrdPerBook}}</td>
						<td>{{statisticPerBook.earliestOrdEntryPerBook.entryDate}}</td>
						<td>{{statisticPerBook.lastOrderEntryPerBook.entryDate}}</td>
					</tr>
				</tbody>
			</table>

            <label><h3>Statistics of earliest and last order entry</h3></label>
			<table id="earliestAndLastOrderEntryStatId"
				class="table table-striped">
				<tbody>
					<tr>
						<td>
							<table id="earliestOrderEntryStatId"
								class="table table-striped">
						        <thead>
						          <tr>
						            <th colspan="3">Earliest Order Entry</th>
						          </tr>
					              <tr>
					                <th>Quantity order</th>
					                <th>Limit price</th>
					                <th>Entry date</th>
					              </tr>
					            </thead>
                                <tbody>
					              <tr>
					                <td>{{statisticPerBook.earliestOrdEntryPerBook.quantity}}</td>
					                <td>{{statisticPerBook.earliestOrdEntryPerBook.limitPrice}}</td>
					                <td>{{statisticPerBook.earliestOrdEntryPerBook.entryDate}}</td>
					              </tr>
				             </tbody>
			               </table>
					 </td>
					 <td>
					 	<table id="lastOrderEntryStatId"
						    class="table table-striped">
						    <thead>
						      <tr>
						        <th colspan="3">Last Order Entry</th>
						          </tr>
					              <tr>
					                <th>Quantity order</th>
					                <th>Limit price</th>
					                <th>Entry date</th>
					              </tr>
					            </thead>
                                <tbody>
					              <tr>
					                <td>{{statisticPerBook.lastOrderEntryPerBook.quantity}}</td>
					                <td>{{statisticPerBook.lastOrderEntryPerBook.limitPrice}}</td>
					                <td>{{statisticPerBook.lastOrderEntryPerBook.entryDate}}</td>
					              </tr>
				               </tbody>
			            </table>
					</td>
			      </tr>
				
				</tbody>
			
			</table>
			
			<label><h3>Limit break down</h3></label>
			<table id="limitBreakDownStatId"
				class="table table-striped">
				<thead>
				  <tr>
				    <th>Limit price</th>
					<th>Demand per limit price</th>
				  </tr>
					</thead>
                      <tbody>
					    <tr ng-repeat="priceDemand in statisticPerBook.limitBreakDowns">
					      <td>{{priceDemand.limitBreakDownPrice}}</td>
					      <td>{{priceDemand.limitBreakDownDemand}}</td>
					    </tr>
				      </tbody>
			 </table>

			<label><h3>Statistics after execution of the order book</h3></label>
			<table id="statisticAfterExecutionId" class="table table-striped">
				<thead>
					<tr>
						<th>Amount of orders</th>
						<th>Demand</th>
						<th>Amount of valid orders</th>
						<th>Amount of invalid orders</th>
						<th>Valid demand</th>
						<th>Invalid demand</th>
						<th>Biggest order</th>
						<th>Smallest order</th>
						<th>Earliest order entry</th>
						<th>Last order entry</th>
						<th>Execution price</th>
						<th>Execution quantity</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>{{statisticPerBook.totOrdAmtPerBook}}</td>
						<td>{{statisticPerBook.totDemandPerBook}}</td>
						<td>{{statisticPerBook.totValidOrdAmtPerBook}}</td>
						<td>{{statisticPerBook.totInvalidOrdAmtPerBook}}</td>
						<td>{{statisticPerBook.totValidDemandPerBook}}</td>
						<td>{{statisticPerBook.totInvalidDemandPerBook}}</td>
						<td>{{statisticPerBook.maxOrdPerBook}}</td>
						<td>{{statisticPerBook.minOrdPerBook}}</td>
						<td>{{statisticPerBook.earliestOrdEntryPerBook.entryDate}}</td>
						<td>{{statisticPerBook.lastOrderEntryPerBook.entryDate}}</td>
						<td>{{statisticPerBook.execPricePerBook}}</td>
						<td>{{statisticPerBook.totExecQtyPerBook}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>